body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: -5px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.finished-tasks-btn {
    background-color: rgb(33, 60, 192);
    padding: 8px 16px; border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
}

input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #4caf50;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.task {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.task .finished-tasks-btn {
    background-color: rgb(33, 60, 192);
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.task .assignee-dropdown {
    padding: 8px 16px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: grey;
    border-radius: 4px;
    cursor: pointer;
}

.task-name {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.task .delete-btn {
    background-color: red;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.task .done-btn {
    background-color: rgb(33, 60, 192);
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
